@model RequestCreateInstance

<h3>Criar Instância</h3>

<form method="post">
    <div class="form-group">
        <label for="InstanceName">Nome da Instância</label>
        <input type="text" class="form-control" id="InstanceName" name="InstanceName" asp-for="InstanceName" />
        <span asp-validation-for="InstanceName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Number">Número</label>
        <input type="number" class="form-control" id="Number" name="Number" asp-for="Number" />
        <span asp-validation-for="Number" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Criar</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
